<!DOCTYPE html>
<html>
  <head>
    <style>
      .flex-container{
        display: flex;
      }
      .flex-child{
        flex:1;
        border:2px 
      }
      .flex-child:first-child{
        margin-right:20px;
      }
      table, tr,td,th{
            border: 1px solid black;
            border-collapse: collapse;
        }
        .divScroll {
            overflow:scroll;
            height:100px;
            width:200px;
            }
    </style>
  </head>
  
  <body>
    <div class="flex-container" style="display: flex;">
      <div class="flex-child magenta" style="width:73%;" name="first">
          <form action="" method="get"> 
            <h3>Leave Details</h3>
            <% if(len!=0){%>
              <table style="margin-left: 30px;">
                <tr>
                    <th style="padding-left: 10px;">User</th>
                    <th style="padding-left: 25px;padding-right: 25px;">From Date</th>
                    <th style="padding-left: 25px;padding-right: 25px;">To Date</th>
                    <th>No.of days</th>
                    <th colspan="2" style="padding-left: 30px;">Purpose</th>
                    <th style="padding-left: 25px;">Leave Address</th>
                    <th style="border: white;padding-left: 30px;">More</th>
                </tr>
                
                    <% 
            data.forEach((i)=>{ %>
              <tr>   
                  <td><%= i.fid %></td>
                  <td ><%= i.fromdate %></td>
                  <td><%= i.todate %></td>
                  <td><%= i.total %></td>
                  <td colspan="2"><div class="divScroll">
                    <%= i.purpose%>
                  </div></td>
                  <td><%= i.address%></td>
                  <%
            var url="/users/updatestatus/"+i.lid;
            var url2="http://localhost:3000/users/adjustment/"+i.lid;
            %> 
            <td style="border: white;"><button type="hidden" name="status" value="Accepted" formaction="<%=url%>" style="color: green;">Accept</button></td>
            <td style="border: white;"><button type="hidden" name="status" value="Rejected" formaction="<%=url%>" style="color: tomato;">Deny</button></td>
            <td style="border: white;"><a href='<%=url2%>' target="second">Slots</a></td>     
              </tr>
              <% })%>
            </table>
        <%} else{%>
          <div class="card" style="width: 20rem;height:250px;margin-left: 350px;padding-top: 50px;color: brown;padding-left: 50px;">
            <div class="card-body">
              <h5 class="card-title" style="color: black;">Leave Status</h5><br>
              <h4>NO LEAVES ARE APPLIED!!</h4>
        <%}%>
        </form>
      </div>
      <div class="flex-child magenta" style="width: 20%;">
        <iframe name="second" style="width: 505px;margin-top: 120px;"></iframe>
      </div>
    </div>
  </body>
</html>