<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <!-- <h3>Leave Details</h3> -->
    <table border="1">
      <tr>
        <th>Date</th>
        <th>Class</th>
        <th>Branch</th>
        <th>Section</th>
        <th>Hour</th>
        <th>Faculty</th>

      </tr>
    
    <% 
    data.forEach((i)=>{ %>
      <tr>
        <td><%= i.cdate%></td>
        <td><%= i.class %></td>
        <td><%= i.branch%></td>
        <td><%= i.section%></td>
        <td><%= i.period%></td>
        <td><%= i.adjusted%></td>
      </tr>
      <% 
    })
    %>
  </table>

  </body>
</html>
